{% extends "games/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>

    <div class="container">
        <form method="post">
            {% csrf_token %}
                <div class="sudoku">
                    {% for sudoku_cell in forms %}
                        {{ sudoku_cell }}
                    {% endfor %}
                </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    

    {{ solved_sudoku }}

    {{ solved }}
{% endblock content %}