{% extends "games/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <nav>
        <h1>Sudoku Page</h1>
        <a href="{% url 'home' %}">Home</a>
    </nav>
    <div class="container-flex sudoku-container">
        
        <form method="post">
            {% csrf_token %}
            {{ sudoku_forms.management_form }} 
            {{ sudoku_forms.errors }} 
        <div class="d-flex justify-content-center">
            <div class="sudoku">
                {% for sudoku_cell in sudoku_forms %}
                    {{ sudoku_cell }}
                {% endfor %}
            </div>
            {% if solved_sudoku %}
                <div class="sudoku">
                    {% for char in solved_sudoku %}
                        <div class="sudoku-cell">
                            {{ char }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
                
            <input type="submit" value="Submit" class="sudoku-submit" name="sudoku_submit">
        </form>

        <form method="post">
            {% csrf_token %}
            {{ quick_enter }}
            <input type="submit" value="Submit" name="quick_enter">
        </form>
    </div>
    
    <!-- {{ solved_sudoku }} -->
    
    {{ solved }}

    <!-- {{ forms.errors }} {{ forms.non_field_errors }} -->
{% endblock content %}