input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --main1: #1e3d58;
  --main2: #057DCD;
  --main3: #43B0f1;
  --main4: #36fae0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

nav {
  color: #ffffff;
  margin-bottom: 0;
}

.sudoku {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(9, 9vmin);
  grid-template-rows: repeat(9, 9vmin);
  background-color: var(--main1);
  margin: 0;
  border: 3px solid orange;
  /* gap: 1px; */
  /* margin: 0 auto; */
  /* text-align: center; */
}

.sudoku-cell {
  border-color: var(--main1);
  background-color: var(--main2);

  /* centres the output */
  display: flex;
  justify-content: center;
  align-items: center;

  /* centres the input */
  text-align: center;

  font-size: 3.5vmin;
  border-width: 1px;
  border-style: solid;
  /* margin: auto; */
  /* color: white; */
}


.sudoku-cell:focus {
  background-color: var(--main3);
  background-color: rgb(0, 247, 255);
  border-color: var(--main3);

}

.sudoku-cell.invalid {
  background-color: #fc1010;
  color: #a70000;
}

.sudoku-container {
  background-color: var(--main1);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  align-items: center;

  border: 3px solid orange;

}

.sudoku-submit {
  background-color: var(--main3);
}

p {
  color: var(--main4)
}

.function-container {
  border: 3px solid orange;
  margin-bottom: 50px;

  position: relative;
  top: -8vmin;
}

@media (min-width: 2030px) {
  .d-sd-flex {
    display: flex !important;
  }
}

.quick-enter * {
  /* display: flex; */
  /* margin: 0px; */
  width: 9vmin;
  height: 6vmin;
  color: #00a761;
}

.quick-enter {
  /* margin: 5vmin; */
  /* display: flex; */
  /* width: 9vmin;
  height: 2vmin; */
  table-layout: fixed;
  /* width: 100%; */
  margin-left: 0px;
  height: fit-content;
  padding: 0;
  border: 6px solid var(--main3);
  background-color: #a70000;
}

input {
  background-color: var(--main3);
  /* background-color: #00a761; */
}

* {
  background-color: var(--main1);
  color: rgb(255, 255, 255);
}

form {
  display: contents !important;
}
/* input:hover {
  visibility: hidden !important;
  color: black;
} */