input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sudoku{
  display: grid;
  grid-template-columns: repeat(9, 9vmin);
  grid-template-rows: repeat(9, 9vmin);
}

.sudoku_cell{
  border-color: darkcyan;
}